@model IEnumerable<library_system.Models.master_book_information>
@{
    ViewBag.Title = "DataViewEF";
}

<h2>DataViewEF</h2>

<div><b>Showing Data using EF 6</b><br /></div>
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Id</th>
        <th>ISBN</th>
        <th>Book Name</th>
        <th>Category</th>
        <th>Sub Category</th>
        <th>Author</th>
    </tr>
    @foreach (var d in Model)
    {
        <tr>
            <td>@d.id</td>
            <td>@d.isbn</td>
            <td>@d.book_name</td>
            <td>@d.category_id</td>
            <td>@d.sub_category_id</td>
            <td>@d.author_id</td>
        </tr>

    }
</table>
